name: Upload IIIF images to Transkribus based on IIIF manifests (py)

on:
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created, edited]

jobs:
  evaluate-label:
    name: evaluate-label
    runs-on: ubuntu-latest
    env:
      TASKS: ${{ join(github.event.issue.labels.*.name,', ') }}
      CONTINUE: ${{ contains(join(github.event.issue.labels.*.name,', '),'task:iiif-upload') && contains(fromJson(vars.WHITELIST),github.actor) && 'true' || 'false'}}
    outputs:
      continue: ${{ env.CONTINUE }}
    steps:
      - run: echo ${{ env.CONTINUE }}

  run:
    name: run
    runs-on: ubuntu-latest
    needs: evaluate-label
    if: needs.evaluate-label.outputs.continue == 'true'
    outputs:
      output1: ${{ steps.get_output.outputs.result }}
    env:
      TASKS: ${{ join(github.event.issue.labels.*.name,', ') }}
    steps:
    - uses: actions/checkout@v4
    - uses: stefanbuck/github-issue-parser@v3
      id: issue-parser
      with:
        template-path: .github/ISSUE_TEMPLATE/0-initiate-upload.yml

    - run: cat ${HOME}/issue-parser-result.json
    - run: cp ${HOME}/issue-parser-result.json ./issue-parser-result.json

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests requests-toolbelt lxml
    
    - name: Upload to Transkribus
      run: |
        python3 ./iiif-to-transkribus/iiif-to-transkribus.py
      env:
        ISSUE: ./issue-parser-result.json
        TRANSKRIBUS_CREDENTIALS: ${{ secrets.TRANSKRIBUS_CREDENTIALS }}
      continue-on-error: true

    - name: Check if output.log exists
      run: |
        if [ -f /tmp/output.log ]; then
          echo "output.log file exists"
        else
          echo "output.log not found!"
        fi

    - name: Cat output.log for debugging
      run: |
        if [ -f /tmp/output.log ]; then
          cat /tmp/output.log
        else
          echo "No log file available."
        fi

    - name: Get output from script
      id: get_output
      run: |
        if [ -f /tmp/output.log ]; then
          echo "result=$(tail -n 20 /tmp/output.log)" >> $GITHUB_ENV
        else
          echo "output.log does not exist, skipping capture."
        fi
      continue-on-error: true

    - name: Add comment to GitHub issue
      uses: peter-evans/create-or-update-comment@v5
      with:
        issue-number: ${{ github.event.issue.number }}
        body: |
          **Workflow finished** :sparkles:
          Here is the result of the workflow:
          ```
          ${{ env.result }}
          ```
          Please check if the new addition to the collection looks good and close this issue. :sparkles:
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      continue-on-error: true

# adding a reply to the issue thread in case of non-authorization
  add-comment-unauthorized:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Add comment
        if: ${{ ! contains(fromJson(vars.WHITELIST),github.actor)}}
        run: gh issue close "$NUMBER" -c "$BODY"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.issue.number }}
          BODY: "**Initiator of the action (${{ github.actor }}) is not whitelisted.**\n\n **Aborting.**\n\n\n [Edit `WHITELIST`](https://github.com/organizations/dse-as/settings/variables/actions/WHITELIST)"
