name: Upload IIIF images to Transkribus based on IIIF manifests

on:
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created, edited]

jobs:
  evaluate-label:
    name: evaluate-label
    runs-on: ubuntu-latest
    env:
      TASKS: ${{ join(github.event.issue.labels.*.name,', ') }}
      CONTINUE: ${{ contains(join(github.event.issue.labels.*.name,', '),'task:iiif-upload') && contains(fromJson(vars.WHITELIST),github.actor) && 'true' || 'false'}}
    outputs:
      continue: ${{ env.CONTINUE }}
    steps:
      - run: echo ${{ env.CONTINUE }}

  run:
    name: run
    runs-on: ubuntu-latest
    needs: evaluate-label
    if: needs.evaluate-label.outputs.continue == 'true'
    outputs:
      output1: ${{ steps.ipynb-txt.outputs.out }}
    env:
      TASKS: ${{ join(github.event.issue.labels.*.name,', ') }}
    steps:
    - uses: actions/checkout@v4
    - uses: stefanbuck/github-issue-parser@v3
      id: issue-parser
      with:
        template-path: .github/ISSUE_TEMPLATE/0-initiate-upload.yml

    - run: cat ${HOME}/issue-parser-result.json
    - run: cp ${HOME}/issue-parser-result.json ./issue-parser-result.json

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests requests-toolbelt lxml
    
    - name: Upload to Transkribus
      run: |
        python3 ./iiif-to-transkribus/iiif-to-transkribus.py
      env:
        ISSUE: ./issue-parser-result.json
        TRANSKRIBUS_CREDENTIALS: ${{ secrets.TRANSKRIBUS_CREDENTIALS }}
      continue-on-error: true

    - name: Get output from script
      id: get_output
      run: |
        echo "::set-output name=result::$(tail -n 10 ./iiif-to-transkribus/output.log)"
      continue-on-error: true

    - name: Add comment to GitHub issue
      uses: peter-evans/issue-comment@v2
      with:
        issue-number: ${{ github.event.issue.number }}
        body: |
          **Workflow finished** :sparkles:
          Here is the result of the workflow:
          ```
          ${{ steps.get_output.outputs.result }}
          ```
          Please check if the new addition to the collection looks good and close this issue. :sparkles: